<section class="categories-info">
    <div class="categories-info__inner">
    <div class="container">
        <div class="info">
            <div class="info__item">
                <div class="info__item-svg info__item-svg--delivery">
                <svg>
                    <use xlink:href='images/sprite.svg#delivery'></use>
                </svg>
                </div>
                <h5 class="info__item-title">Free Shipping Order $100</h5>
                <p class="info__item-text">Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do </p>
            </div>
            <div class="info__item">
                <div class="info__item-svg info__item-svg--return">
                <svg>
                    <use xlink:href='images/sprite.svg#return'></use>
                </svg>
            </div>
                <h5 class="info__item-title">30 Days Easy Return</h5>
                <p class="info__item-text">Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do </p>
            </div>
            <div class="info__item">
                <div class="info__item-svg info__item-svg--support">
                <svg>
                    <use xlink:href='images/sprite.svg#support'></use>
                </svg>
            </div>
                <h5 class="info__item-title">24/7 Customer Support</h5>
                <p class="info__item-text">Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do </p>
            </div>
        </div>
        <div class="categories">
            <h2 class="title">top categories</h2>
            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo tempor ut labore et dolore aliqua.</div>
            <div class="categories__items">
                <div class="categories__item" style="background-image: url('images/content/categories/jewerlly.jpg')">
                    <div class="categories__item-subtitle">Up To 40% Off</div>
                    <h4 class="categories__item-title">Shoes & Jewellry</h4>
                    <a class="categories__link" href="#">
                        explore more
                    </a>
                </div>
                <div class="categories__item" style="background-image: url('images/content/categories/accsesorices.jpg')">
                    <div class="categories__item-subtitle">New Arrival</div>
                    <h4 class="categories__item-title">Clothes & Accessories</h4>
                    <a class="categories__link" href="#">
                        explore more
                    </a>
                </div>
                <div class="categories__item" style="background-image: url('images/content/categories/mens.jpg')">
                    <div class="categories__item-subtitle">Trending Now</div>
                    <h4 class="categories__item-title">Men’s Fashion</h4>
                    <a class="categories__link" href="#">
                        explore more
                    </a>
                </div>
                <div class="categories__item" style="background-image: url('images/content/categories/girls.jpg')">
                    <div class="categories__item-subtitle">Hot Collection</div>
                    <h4 class="categories__item-title">Girl’s Fashion</h4>
                    <a class="categories__link" href="#">
                        explore more
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>