
<section class="shop">
    <div class="container">
        <div class="shop__inner">
            <div class="shop__filters filter">
                <div class="filter-search filter__item">
                    <h3 class="filter-search__title filter__title">search</h3>
                    <form class="filter-search__form" action="#">
                        <input class="filter-search__input" type="text" placeholder="Search your keyword....">
                        <button class="filter-search__btn" type="submit">
                            <svg>
                                <use xlink:href='images/sprite.svg#search'></use>
                            </svg>
                        </button>
                    </form>
                </div>

                <div class="filter__item filter-price">
                    <h3 class="filter-search__title filter__title">price filter</h3>
                    <form class="filter-price__form" action="#">
                        <input class="filter-price__input" type="text" data-min="0" data-max="999" data-from="200"
                            data-to="800">
                        <label class="filter-price__label">
                            <span>Price:
                                $<span class="filter-price__from"></span>-
                                $<span class="filter-price__to"></span>
                            </span>
                            <button class="filter-price__btn" type="submit">filter</button>
                        </label>
                    </form>
                </div>

                <div class="filter__item filter-color">
                    <h3 class="filter-color__title filter__title">color filter</h3>
                    <form class="filter-color__form" action="#">
                        <label class="filter-color__label">
                            <span class="filter-color__text">Blue (15)</span>
                            <div class="filter-color__box">
                                <input class="filter-color__input" type="checkbox">
                                <span class="filter-color__checkbox filter-color__checkbox--blue"></span>
                            </div>
                        </label>
                        <label class="filter-color__label">
                            <span class="filter-color__text">Red (09)</span>
                            <div class="filter-color__box">
                                <input class="filter-color__input" type="checkbox">
                                <span class="filter-color__checkbox filter-color__checkbox--red"></span>
                            </div>
                        </label>
                        <label class="filter-color__label">
                            <span class="filter-color__text">Green (28)</span>
                            <div class="filter-color__box">
                                <input class="filter-color__input" type="checkbox">
                                <span class="filter-color__checkbox filter-color__checkbox--green"></span>
                            </div>
                        </label>
                        <label class="filter-color__label">
                            <span class="filter-color__text">Orange (11)</span>
                            <div class="filter-color__box">
                                <input class="filter-color__input" type="checkbox">
                                <span class="filter-color__checkbox filter-color__checkbox--orange"></span>
                            </div>
                        </label>
                        <label class="filter-color__label">
                            <span class="filter-color__text">Black (05)</span>
                            <div class="filter-color__box">
                                <input class="filter-color__input" type="checkbox">
                                <span class="filter-color__checkbox filter-color__checkbox--black"></span>
                            </div>
                        </label>
                        <label class="filter-color__label">
                            <span class="filter-color__text">Purple (21)</span>
                            <div class="filter-color__box">
                                <input class="filter-color__input" type="checkbox">
                                <span class="filter-color__checkbox filter-color__checkbox--purple"></span>
                            </div>
                        </label>
                    </form>
                </div>
                <div class="filter__item filter-size">
                    <h3 class="filter-size__title filter__title">size filter</h3>
                    <form action="#" class="filter-size__form">
                        <label class="filter-size__label">
                            <input class="filter-size__input" type="checkbox">
                            <span class="filter-size__checkbox"></span>
                            <span class="filter-size__text">X-small</span>
                        </label>
                        <label class="filter-size__label">
                            <input class="filter-size__input" type="checkbox">
                            <span class="filter-size__checkbox"></span>
                            <span class="filter-size__text">Small</span>
                        </label>
                        <label class="filter-size__label">
                            <input class="filter-size__input" type="checkbox">
                            <span class="filter-size__checkbox"></span>
                            <span class="filter-size__text">Medium</span>
                        </label>
                        <label class="filter-size__label">
                            <input class="filter-size__input" type="checkbox">
                            <span class="filter-size__checkbox"></span>
                            <span class="filter-size__text">Large</span>
                        </label>
                        <label class="filter-size__label">
                            <input class="filter-size__input" type="checkbox">
                            <span class="filter-size__checkbox"></span>
                            <span class="filter-size__text">XXL</span>
                        </label>
                    </form>
                </div>
                <div class="filter__item filter-category">
                    <h3 class="filter-category__title filter__title">Category</h3>
                    <form class="filter-category__form" action="#">
                        <label class="filter-category__label">
                            <input class="filter-category__input" type="checkbox">
                            <div class="filter-category__checkbox">
                                <span>Woman</span>
                                <span>48</span>
                            </div>
                        </label>
                        <label class="filter-category__label">
                            <input class="filter-category__input" type="checkbox">
                            <div class="filter-category__checkbox">
                                <span>Man</span>
                                <span>30</span>
                            </div>
                        </label>
                        <label class="filter-category__label">
                            <input class="filter-category__input" type="checkbox" checked>
                            <div class="filter-category__checkbox">
                                <span>Sale Products</span>
                                <span>92</span>
                            </div>
                        </label>
                        <label class="filter-category__label">
                            <input class="filter-category__input" type="checkbox">
                            <div class="filter-category__checkbox">
                                <span>Fashion</span>
                                <span>121</span>
                            </div>
                        </label>
                        <label class="filter-category__label">
                            <input class="filter-category__input" type="checkbox">
                            <div class="filter-category__checkbox">
                                <span>Hot Dresses</span>
                                <span>48</span>
                            </div>
                        </label>
                        <label class="filter-category__label">
                            <input class="filter-category__input" type="checkbox">
                            <div class="filter-category__checkbox">
                                <span>Accessories</span>
                                <span>88</span>
                            </div>
                        </label>
                    </form>
                </div>
                <div class="filter__item filter-popular">
                    <h3 class="filter-popular__title filter__title">Popular Tags</h3>
                    <form class="filter-popular__form" action="#">
                        <label class="filter-popular__label">
                            <input class="filter-popular__input" type="checkbox">
                            <span class="filter-popular__checkbox">Sweetshirt</span>
                        </label>
                        <label class="filter-popular__label">
                            <input class="filter-popular__input" type="checkbox">
                            <span class="filter-popular__checkbox">Man Accessories</span>
                        </label>
                        <label class="filter-popular__label">
                            <input class="filter-popular__input" type="checkbox">
                            <span class="filter-popular__checkbox">Fashion</span>
                        </label>
                        <label class="filter-popular__label">
                            <input class="filter-popular__input" type="checkbox">
                            <span class="filter-popular__checkbox">Polo</span>
                        </label>
                        <label class="filter-popular__label">
                            <input class="filter-popular__input" type="checkbox">
                            <span class="filter-popular__checkbox">T-shirt</span>
                        </label>
                        <label class="filter-popular__label">
                            <input class="filter-popular__input" type="checkbox">
                            <span class="filter-popular__checkbox">Jewellery</span>
                        </label>
                    </form>
                </div>
            </div>
            <div class="shop-content">
                <div class="shop-content__filter">
                    <div class="shop-content__filter-buttons">
                        <span>View</span>
                        <button class="shop-content__filter-btn shop-content__filter-btn--grid shop-content__filter-btn--active button-grid">
                            <svg>
                                <use xlink:href='images/sprite.svg#grid'></use>
                            </svg>
                        </button>
                        <button class="shop-content__filter-btn button-list">
                            <svg>
                                <use xlink:href='images/sprite.svg#list'></use>
                            </svg>
                        </button>
                    </div>
                    <div class="shop-content__filter-selects">
                        <form class="shop-content__filter-form" action="#">
                            <select class="shop-content__filter-sort select-style">
                                <option value="Sort By Default">Sort By Default</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            <select class="shop-content__filter-show select-style">
                                <option value="Show 9">Show 9</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </form>
                    </div>

                </div>
                <div class="shop-content__inner">


                    <div class="product-item">
                        <div class="product-item__img-box">
                            <img class="product-item__images" src="images/product/1.jpg" alt="product">
                            <div class="product-item__link-box">
                                <a class="product-item__link product-item__link--seart" href="#">
                                    <svg>
                                        <use xlink:href='images/sprite.svg#search'></use>
                                    </svg>
                                </a>
                                <a class="product-item__link product-item__link--line  product-item__link--cart"
                                    href="#">
                                    <svg>
                                        <use xlink:href='images/sprite.svg#bag'></use>
                                    </svg>
                                </a>
                                <a class="product-item__link product-item__link--heart" href="#">
                                    <svg>
                                        <use xlink:href='images/sprite.svg#love'></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="product-item__wrapper-box">
                            <div class="product-item__box">
                                <div class="star" data-rateyo-rating="2"></div>
                                <h4 class="product-item__title">
                                    White Polo Men’s T-Shirt
                                </h4>
                                <div class="product-item__price">
                                    <div class="product-item__new-price">
                                        $34.00
                                    </div>
                                    <div class="product-item__old-price">
                                        $27.00
                                    </div>
                                </div>
                            </div>
                            <div class="product-item__content-box">
                                <p class="product-item__text">Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod  utlitoi labore et dolore magna aliqua.</p>
                                <button class="product-item__btn">Add to cart</button>
                            </div>
                        </div>
                    </div>


                    
                    <div class="product-item">
                        <div class="product-item__img-box">
                            <img class="product-item__images" src="images/product/1.jpg" alt="product">
                            <div class="product-item__link-box">
                                <a class="product-item__link product-item__link--seart" href="#">
                                    <svg>
                                        <use xlink:href='images/sprite.svg#search'></use>
                                    </svg>
                                </a>
                                <a class="product-item__link product-item__link--line  product-item__link--cart"
                                    href="#">
                                    <svg>
                                        <use xlink:href='images/sprite.svg#bag'></use>
                                    </svg>
                                </a>
                                <a class="product-item__link product-item__link--heart" href="#">
                                    <svg>
                                        <use xlink:href='images/sprite.svg#love'></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="product-item__wrapper-box">
                        <div class="product-item__box">
                            <div class="star" data-rateyo-rating="2"></div>
                            <h4 class="product-item__title">
                                White Polo Men’s T-Shirt
                            </h4>
                            <div class="product-item__price">
                                <div class="product-item__new-price">
                                    $34.00
                                </div>
                                <div class="product-item__old-price">
                                    $27.00
                                </div>
                            </div>
                        </div>
                        <div class="product-item__content-box">
                            <p class="product-item__text">Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod  utlitoi labore et dolore magna aliqua.!</p>
                            <button class="product-item__btn">Add to cart</button>
                        </div>
                    </div>
                    </div>
                    <div class="product-item">
                        <div class="product-item__img-box">
                            <img class="product-item__images" src="images/product/1.jpg" alt="product">
                            <div class="product-item__link-box">
                                <a class="product-item__link product-item__link--seart" href="#">
                                    <svg>
                                        <use xlink:href='images/sprite.svg#search'></use>
                                    </svg>
                                </a>
                                <a class="product-item__link product-item__link--line  product-item__link--cart"
                                    href="#">
                                    <svg>
                                        <use xlink:href='images/sprite.svg#bag'></use>
                                    </svg>
                                </a>
                                <a class="product-item__link product-item__link--heart" href="#">
                                    <svg>
                                        <use xlink:href='images/sprite.svg#love'></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="product-item__wrapper-box">
                        <div class="product-item__box">
                            <div class="star" data-rateyo-rating="2"></div>
                            <h4 class="product-item__title">
                                White Polo Men’s T-Shirt
                            </h4>
                            <div class="product-item__price">
                                <div class="product-item__new-price">
                                    $34.00
                                </div>
                                <div class="product-item__old-price">
                                    $27.00
                                </div>
                            </div>
                        </div>
                        <div class="product-item__content-box">
                            <p class="product-item__text">Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod  utlitoi labore et dolore magna aliqua.!</p>
                            <button class="product-item__btn">Add to cart</button>
                        </div>
                    </div>
                    </div>
                    <div class="product-item">
                        <div class="product-item__img-box">
                            <img class="product-item__images" src="images/product/1.jpg" alt="product">
                            <div class="product-item__link-box">
                                <a class="product-item__link product-item__link--seart" href="#">
                                    <svg>
                                        <use xlink:href='images/sprite.svg#search'></use>
                                    </svg>
                                </a>
                                <a class="product-item__link product-item__link--line  product-item__link--cart"
                                    href="#">
                                    <svg>
                                        <use xlink:href='images/sprite.svg#bag'></use>
                                    </svg>
                                </a>
                                <a class="product-item__link product-item__link--heart" href="#">
                                    <svg>
                                        <use xlink:href='images/sprite.svg#love'></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="product-item__wrapper-box">
                        <div class="product-item__box">
                            <div class="star" data-rateyo-rating="2"></div>
                            <h4 class="product-item__title">
                                White Polo Men’s T-Shirt
                            </h4>
                            <div class="product-item__price">
                                <div class="product-item__new-price">
                                    $34.00
                                </div>
                                <div class="product-item__old-price">
                                    $27.00
                                </div>
                            </div>
                        </div>
                        <div class="product-item__content-box">
                            <p class="product-item__text">Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod  utlitoi labore et dolore magna aliqua.!</p>
                            <button class="product-item__btn">Add to cart</button>
                        </div>
                    </div>
                    </div>
                    <div class="product-item">
                        <div class="product-item__img-box">
                            <img class="product-item__images" src="images/product/1.jpg" alt="product">
                            <div class="product-item__link-box">
                                <a class="product-item__link product-item__link--seart" href="#">
                                    <svg>
                                        <use xlink:href='images/sprite.svg#search'></use>
                                    </svg>
                                </a>
                                <a class="product-item__link product-item__link--line  product-item__link--cart"
                                    href="#">
                                    <svg>
                                        <use xlink:href='images/sprite.svg#bag'></use>
                                    </svg>
                                </a>
                                <a class="product-item__link product-item__link--heart" href="#">
                                    <svg>
                                        <use xlink:href='images/sprite.svg#love'></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="product-item__wrapper-box">
                        <div class="product-item__box">
                            <div class="star" data-rateyo-rating="2"></div>
                            <h4 class="product-item__title">
                                White Polo Men’s T-Shirt
                            </h4>
                            <div class="product-item__price">
                                <div class="product-item__new-price">
                                    $34.00
                                </div>
                                <div class="product-item__old-price">
                                    $27.00
                                </div>
                            </div>
                        </div>
                        <div class="product-item__content-box">
                            <p class="product-item__text">Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod  utlitoi labore et dolore magna aliqua.!</p>
                            <button class="product-item__btn">Add to cart</button>
                        </div>
                    </div>
                    </div>
                    <div class="product-item">
                        <div class="product-item__img-box">
                            <img class="product-item__images" src="images/product/1.jpg" alt="product">
                            <div class="product-item__link-box">
                                <a class="product-item__link product-item__link--seart" href="#">
                                    <svg>
                                        <use xlink:href='images/sprite.svg#search'></use>
                                    </svg>
                                </a>
                                <a class="product-item__link product-item__link--line  product-item__link--cart"
                                    href="#">
                                    <svg>
                                        <use xlink:href='images/sprite.svg#bag'></use>
                                    </svg>
                                </a>
                                <a class="product-item__link product-item__link--heart" href="#">
                                    <svg>
                                        <use xlink:href='images/sprite.svg#love'></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="product-item__wrapper-box">
                        <div class="product-item__box">
                            <div class="star" data-rateyo-rating="2"></div>
                            <h4 class="product-item__title">
                                White Polo Men’s T-Shirt
                            </h4>
                            <div class="product-item__price">
                                <div class="product-item__new-price">
                                    $34.00
                                </div>
                                <div class="product-item__old-price">
                                    $27.00
                                </div>
                            </div>
                        </div>
                        <div class="product-item__content-box">
                            <p class="product-item__text">Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod  utlitoi labore et dolore magna aliqua.!</p>
                            <button class="product-item__btn">Add to cart</button>
                        </div>
                    </div>
                    </div>
                    <div class="product-item">
                        <div class="product-item__img-box">
                            <img class="product-item__images" src="images/product/1.jpg" alt="product">
                            <div class="product-item__link-box">
                                <a class="product-item__link product-item__link--seart" href="#">
                                    <svg>
                                        <use xlink:href='images/sprite.svg#search'></use>
                                    </svg>
                                </a>
                                <a class="product-item__link product-item__link--line  product-item__link--cart"
                                    href="#">
                                    <svg>
                                        <use xlink:href='images/sprite.svg#bag'></use>
                                    </svg>
                                </a>
                                <a class="product-item__link product-item__link--heart" href="#">
                                    <svg>
                                        <use xlink:href='images/sprite.svg#love'></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="product-item__wrapper-box">
                        <div class="product-item__box">
                            <div class="star" data-rateyo-rating="2"></div>
                            <h4 class="product-item__title">
                                White Polo Men’s T-Shirt
                            </h4>
                            <div class="product-item__price">
                                <div class="product-item__new-price">
                                    $34.00
                                </div>
                                <div class="product-item__old-price">
                                    $27.00
                                </div>
                            </div>
                        </div>
                        <div class="product-item__content-box">
                            <p class="product-item__text">Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod  utlitoi labore et dolore magna aliqua.!</p>
                            <button class="product-item__btn">Add to cart</button>
                        </div>
                    </div>
                    </div>
                    <div class="product-item">
                        <div class="product-item__img-box">
                            <img class="product-item__images" src="images/product/1.jpg" alt="product">
                            <div class="product-item__link-box">
                                <a class="product-item__link product-item__link--seart" href="#">
                                    <svg>
                                        <use xlink:href='images/sprite.svg#search'></use>
                                    </svg>
                                </a>
                                <a class="product-item__link product-item__link--line  product-item__link--cart"
                                    href="#">
                                    <svg>
                                        <use xlink:href='images/sprite.svg#bag'></use>
                                    </svg>
                                </a>
                                <a class="product-item__link product-item__link--heart" href="#">
                                    <svg>
                                        <use xlink:href='images/sprite.svg#love'></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="product-item__wrapper-box">
                        <div class="product-item__box">
                            <div class="star" data-rateyo-rating="2"></div>
                            <h4 class="product-item__title">
                                White Polo Men’s T-Shirt
                            </h4>
                            <div class="product-item__price">
                                <div class="product-item__new-price">
                                    $34.00
                                </div>
                                <div class="product-item__old-price">
                                    $27.00
                                </div>
                            </div>
                        </div>
                        <div class="product-item__content-box">
                            <p class="product-item__text">Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod  utlitoi labore et dolore magna aliqua.!</p>
                            <button class="product-item__btn">Add to cart</button>
                        </div>
                    </div>
                    </div>
                    <div class="product-item">
                        <div class="product-item__img-box">
                            <img class="product-item__images" src="images/product/1.jpg" alt="product">
                            <div class="product-item__link-box">
                                <a class="product-item__link product-item__link--seart" href="#">
                                    <svg>
                                        <use xlink:href='images/sprite.svg#search'></use>
                                    </svg>
                                </a>
                                <a class="product-item__link product-item__link--line  product-item__link--cart"
                                    href="#">
                                    <svg>
                                        <use xlink:href='images/sprite.svg#bag'></use>
                                    </svg>
                                </a>
                                <a class="product-item__link product-item__link--heart" href="#">
                                    <svg>
                                        <use xlink:href='images/sprite.svg#love'></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="product-item__wrapper-box">
                        <div class="product-item__box">
                            <div class="star" data-rateyo-rating="2"></div>
                            <h4 class="product-item__title">
                                White Polo Men’s T-Shirt
                            </h4>
                            <div class="product-item__price">
                                <div class="product-item__new-price">
                                    $34.00
                                </div>
                                <div class="product-item__old-price">
                                    $27.00
                                </div>
                            </div>
                        </div>
                        <div class="product-item__content-box">
                            <p class="product-item__text">Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod  utlitoi labore et dolore magna aliqua.!</p>
                            <button class="product-item__btn">Add to cart</button>
                        </div>
                    </div>
                    </div>
                    <div class="product-item">
                        <div class="product-item__img-box">
                            <img class="product-item__images" src="images/product/1.jpg" alt="product">
                            <div class="product-item__link-box">
                                <a class="product-item__link product-item__link--seart" href="#">
                                    <svg>
                                        <use xlink:href='images/sprite.svg#search'></use>
                                    </svg>
                                </a>
                                <a class="product-item__link product-item__link--line  product-item__link--cart"
                                    href="#">
                                    <svg>
                                        <use xlink:href='images/sprite.svg#bag'></use>
                                    </svg>
                                </a>
                                <a class="product-item__link product-item__link--heart" href="#">
                                    <svg>
                                        <use xlink:href='images/sprite.svg#love'></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="product-item__wrapper-box">
                        <div class="product-item__box">
                            <div class="star" data-rateyo-rating="2"></div>
                            <h4 class="product-item__title">
                                White Polo Men’s T-Shirt
                            </h4>
                            <div class="product-item__price">
                                <div class="product-item__new-price">
                                    $34.00
                                </div>
                                <div class="product-item__old-price">
                                    $27.00
                                </div>
                            </div>
                        </div>
                        <div class="product-item__content-box">
                            <p class="product-item__text">Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod  utlitoi labore et dolore magna aliqua.!</p>
                            <button class="product-item__btn">Add to cart</button>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="pagination">
                    <a class="pagination__prev pagination__arrows" href="#">previous</a>
                    <ul class="pagination__list">
                        <li class="pagination__item">
                            <a class="pagination__link" href="#">1</a>
                        </li>
                        <li class="pagination__item">
                            <a class="pagination__link" href="#">2</a>
                        </li>
                        <li class="pagination__item">
                            <a class="pagination__link pagination__link--active" href="#">3</a>
                        </li>
                        <li class="pagination__item">
                            <span class="pagination__link" href="#">....</span>
                        </li>
                        <li class="pagination__item">
                            <a class="pagination__link" href="#">10</a>
                        </li>
                    </ul>
                    <a class="pagination__next pagination__arrows" href="#">next</a>
                </div>
            </div>
        </div>
    </div>
</section>