.blog-page {
    padding: 120px 0 60px;

    &__slider {

        .slick-prev,
        .slick-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 5;
            width: 40px;
            height: 40px;
            background-color: $accent;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 50%;
            box-shadow: 0px 7px 20px 0px rgba(254, 62, 87, 0.3);

            svg {
                fill: #fff;
            }
        }

        .slick-disabled {
            background-color: #fff;
            box-shadow: 0px 7px 20px 0px rgba(168, 168, 168, 0.3);

            svg {
                fill: $accent;
            }
        }

        .slick-next {
            right: 40px;
        }

        .slick-prev {
            left: 40px;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        max-width: 770px;
        margin-right: 30px;
    }

    &__item {
        margin-bottom: 60px;

        &--no-image {
            border: 1px solid #ececee;
            box-shadow: 0px 20px 60px 0px rgba(202, 202, 202, 0.35);
        }
    }

    &__item-link {
        display: block;
        color: inherit;
        @extend %roboto-700;
        font-size: 22px;

    }

    &__img {
        max-width: 770px;
        height: 450px;
        object-fit: cover;
        display: block;
    }

    &__item-box {
        border: 1px solid #ececee;
        border-top: none;
        padding: 40px;
    }

    &__item-title {
        color: $title;
        font-size: 22px;
        @extend %roboto-700;
        margin-bottom: 20px;

        &:hover {
            color: $accent;
        }

    }

    .blog-box {
        justify-content: start;

        &__author {
            margin-right: 30px;
        }
    }

    &__aside {
        max-width: 370px;
    }
}

.blog-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    &__author,
    &__date {
        padding-left: 30px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            left: 0;
            top: 4px;
        }
    }

    &__author::before {
        background-image: url('../images/icons/user-grey.svg');
    }

    &__date::before {
        background-image: url('../images/icons/time.svg');
    }
}

.person {
    border: 1px solid #ececec;
    margin-bottom: 40px;
    padding: 40px 25px;
    text-align: center;

    &__img {
        display: inline-block;
        width: 160px;
        height: 160px;
        object-fit: cover;
        margin: 0 auto 35px;
    }

    &__name {
        color: $title;
        font-size: 18px;
        @extend %roboto-700;
    }

    &__position {
        color: $accent;
        margin-bottom: 25px;
    }

    &__text {
        margin-bottom: 25px;
    }

    &__social-link {
        margin: 0 8px;

        svg {
            max-width: 23px;
            height: 20px;
            fill: $default;
            transition: all 0.3s;

            &:hover {
                fill: $accent;
            }
        }
    }
}

.latest-post {
    padding: 35px 30px 40px;
    border: 1px solid #ececec;
    margin-bottom: 40px;

    &__title {
        color: $title;
        text-transform: uppercase;
        @extend %roboto-400;
        font-size: 22px;
        margin-bottom: 35px;
    }

    &__item {
        margin-bottom: 20px;
        display: flex;

        &+.latest-post__item {
            border-top: 1px solid #ececec;
            padding-top: 20px;
        }
    }

    &__img-link {
        margin-right: 20px;
        min-width: 80px;
    }

    &__img {
        width: 80px;
        height: 80px;
        object-fit: cover;
    }

    &__title-link {
        @extend %roboto-400;
        font-size: 18px;
        color: $title;
        line-height: 28px;
    }
    &__date {
        display: flex;
        align-items: center;
                
        svg {
            width: 16px;
            height: 16px;
            fill: $accent;
        }
    }
    &__date-num {
        display: inline-block;
        margin-left: 10px;
    }
}